body{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Century Gothic;
}


ul {
  float: right;
  font-size: 20px;
  list-style-type: none;
}

ul li {
  display: inline-block;
  border: 1px solid transparent;
  padding: 5px;
  margin-top: -10px;
}

ul li a{
  text-decoration: none;
  color: white;
}
ul li:hover{
  background-color: black;
  color: black;
  transition: 0.3s ease;
}

.logo img{
  float: left;
  width: 90px;
  height: auto;
  margin-left: 20px;
  margin-top: 10px;
}

.title{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}

h1{
  color: white;
  font-size: 50px;
}

.button{
  position: absolute;
  left:50%;
  top:60%;
  transform: translate(-50%,-50%);
}

.btn{
  border: 1px solid white;
  padding: 10px 30px;
  text-decoration: none;
  color: white;
}

.btn:hover{
  background-color: black;
  color: white;
  transition: 0.3s ease;
}
